<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yandex map Api</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b349a165-a03a-4e11-b013-59be278daf28&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div class="map" id="map"></div>
    <div class="popup"></div>
</body>
</html>