<header class="header">
    <a class="header__address" data-coords="{{coords}}">{{address}}</a>
    <button class="header__close">Close</button>
</header>
<main class="main">
    <div class="feedback">
        <ul class="feedback__list"></ul>
    </div>
    <div class="form-wrap">
        <p class="form__title">Ваш отзыв</p>
        <form class="form" name="reviewForm">
            <input class="form__input" name="name" type="text" placeholder="Ваше имя">
            <input class="form__input" name="place" type="text" placeholder="Укажите место">
            <textarea class="form__input" name="comment" placeholder="Поделитесь впечатлениями"></textarea>
            <input class="form__submit" type="submit" value="Добавить">
        </form>
    </div>
</main>